# node-25.5.0
[submodule "packages/node-smol-builder/upstream/node"]
	path = packages/node-smol-builder/upstream/node
	url = https://github.com/nodejs/node.git
# yoga-1.8.0
[submodule "packages/yoga-layout-builder/upstream/yoga"]
	path = packages/yoga-layout-builder/upstream/yoga
	url = https://github.com/facebook/yoga.git
# onnxruntime-1.20.0
[submodule "packages/onnxruntime-builder/upstream/onnxruntime"]
	path = packages/onnxruntime-builder/upstream/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
# lief-0.17.0
[submodule "packages/bin-infra/upstream/lief"]
	path = packages/bin-infra/upstream/lief
	url = https://github.com/lief-project/LIEF.git
# lzfse-1.0
[submodule "packages/bin-infra/upstream/lzfse"]
	path = packages/bin-infra/upstream/lzfse
	url = https://github.com/lzfse/lzfse.git
# cJSON-1.7.15
[submodule "packages/binject/upstream/cJSON"]
	path = packages/binject/upstream/cJSON
	url = https://github.com/DaveGamble/cJSON.git
# libdeflate-1.25
[submodule "packages/binject/upstream/libdeflate"]
	path = packages/binject/upstream/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
# curl-8.18.0
[submodule "packages/bin-stubs/upstream/curl"]
	path = packages/bin-stubs/upstream/curl
	url = https://github.com/curl/curl.git
# mbedtls-3.6.5
[submodule "packages/bin-stubs/upstream/mbedtls"]
	path = packages/bin-stubs/upstream/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
# wpt-epochs/three_hourly/2026-02-24_21H
[submodule "packages/node-smol-builder/scripts/vendor-fast-webstreams/wpt/streams"]
	path = packages/node-smol-builder/scripts/vendor-fast-webstreams/wpt/streams
	url = https://github.com/web-platform-tests/wpt.git
