[submodule "packages/node-smol-builder/upstream/node"]
	path = packages/node-smol-builder/upstream/node
	url = https://github.com/nodejs/node.git
	# v24.12.0
	ref = 70f6b58ac655234435a99d72b857dd7b316d34bf
	shallow = true
[submodule "packages/yoga-layout-builder/upstream/yoga"]
	path = packages/yoga-layout-builder/upstream/yoga
	url = https://github.com/facebook/yoga.git
	# v3.1.0
	ref = 69b8934429702bd3ab06e8d6f709112a761b474b
	shallow = true
[submodule "packages/onnxruntime-builder/upstream/onnxruntime"]
	path = packages/onnxruntime-builder/upstream/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
	# v1.20.1
	ref = 5c1b7ccbff7e5141c1da7a9d963d660e5741c319
	shallow = true
[submodule "packages/bin-infra/upstream/lief"]
	path = packages/bin-infra/upstream/lief
	url = https://github.com/lief-project/LIEF.git
	# v0.17.3
	ref = aa2b617f47c2f75fca9ff00b146dabbaf1b9f422
	shallow = true
[submodule "packages/bin-infra/upstream/lzfse"]
	path = packages/bin-infra/upstream/lzfse
	url = https://github.com/lzfse/lzfse.git
	# Latest commit on master as of 2024-12-31
	ref = e634ca58b4821d9f3d560cdc6df5dec02ffc93fd
	shallow = true
[submodule "packages/binject/upstream/libdeflate"]
	path = packages/binject/upstream/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
	# v1.25
	ref = c8c56a20f8f621e6a966b716b31f1dedab6a41e3
	shallow = true
[submodule "packages/bin-infra/upstream/curl"]
	path = packages/bin-infra/upstream/curl
	url = https://github.com/curl/curl.git
	# curl-8_18_0
	ref = 2eebc58c4b8d68c98c8344381a9f6df4cca838fd
	shallow = true
[submodule "packages/bin-infra/upstream/mbedtls"]
	path = packages/bin-infra/upstream/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
	# mbedtls-3.6.5
	ref = e185d7fd85499c8ce5ca2a54f5cf8fe7dbe3f8df
	shallow = true
